<!-- loading -->
<div *ngIf="cs.loading">

  <div style="margin-top:175px;text-align:center;font-family:'Google Sans',Roboto,Arial,sans-serif;font-size:12px;">
    <p><img src="../assets/spinner.gif" alt="loading" height="25"><br>LOADING</p>
  </div>

</div>

<!-- CHART (MAIN OVERLAY) -->
<div id="chart-overlay" class="chart-overlay-container" [hidden]="cs.loading">
  <canvas id="chartOverlay"></canvas>
</div>

<!-- CHART (OSCILLATORS) -->
<div id="oscillators-zone" [hidden]="cs.loading"></div>
