@use "@angular/material" as mat;
@import "../styles";

.chart-container {
  padding: 0;
  margin: 0;
  border-style: none;
  border-width: 0;
}

.button-listing {
  position: fixed;
  left: 50%;
  margin-left: -28px;
  bottom: 15px;
  color: mat.get-color-from-palette($palette-primary, 700) !important;
  background-color: mat.get-color-from-palette($palette-primary, 800, 0.2) !important;

  &:hover {
    color: mat.get-color-from-palette(mat.$green-palette, 900) !important;
    background-color: mat.get-color-from-palette(mat.$green-palette, 900, 0.2) !important;
    font-weight: bold;
  }
}
