<!-- loading -->
<div *ngIf="cs.loading">
  <div style="margin-top:175px;text-align:center;font-family:Rubik,Roboto,Arial,sans-serif;font-size:12px;color:#E6C74CD9;opacity:0.75;">
    <p><img src="../assets/candle-spinner.svg" alt="loading" height="50"></p>
    <p>LOADING</p>
  </div>

</div>

<!-- CHART (MAIN OVERLAY) -->
<div id="chart-overlay" class="chart-overlay-container" [hidden]="cs.loading">
  <canvas id="chartOverlay"></canvas>
</div>

<!-- CHART (OSCILLATORS) -->
<div id="oscillators-zone" [hidden]="cs.loading"></div>
