@import "../styles";

// note: width is managed by .content-container


.chart-overlay-container {

  padding: 0 8px;
  max-width: 1024px;
  margin: auto;

  height: 55vh;
  // height: 300px;     // for doc site only

  @media (max-height: 700px){
    height: 40vh;
  }

  @media (max-height: 400px){
    height: calc(100vh - 64px); // full-screen (with toolbar)
  }
}

.chart-oscillator-container {

  padding: 0 8px;
  max-width: 1024px;
  margin: auto;
  margin-top: 0.5rem;

  height: 15vh;

  @media (max-height: 800px){
    height: 20vh;
  }

  @media (max-height: 400px){
    height: 30vh;
  }
}
