@import "../styles";

// note: width is managed by .content-container


.chart-overlay-container {

  padding: 0 8px;
  max-width: 1024px;
  margin: auto;

  aspect-ratio: 2.5;

  // tablet-lg
  @media (max-width: 880px) {
    aspect-ratio: 2;
  }

  // mobile
  @media (max-width: 600px) {
    aspect-ratio: 5/4;
  }

  // landscape, full screen
  @media (max-height: 400px) and (orientation: landscape) {
    aspect-ratio: unset;
    height: calc(100svh - 64px); // with toolbar
  }
}

.chart-oscillator-container {

  padding: 0 8px;
  max-width: 1024px;
  margin: auto;
  margin-top: 0;

  aspect-ratio: 10;

  // tablet-lg
  @media (max-width: 880px) {
    aspect-ratio: 8;
  }

  // landscape
  @media (max-height: 600px) and (orientation: landscape) {
    aspect-ratio: unset;
    height: 33.33svh;
  }

  // mobile
  @media (max-height: 400px) {
    aspect-ratio: unset;
    height: 50svh;
  }
}
