@import "../styles";

.chart-overlay-container {
  padding: 0;
  margin: auto;
  border-style: none;
  border-width: 0;
  height: 50vh;

  max-width: 850px;  // for doc site only
  height: 300px;     // for doc site only

  @media (max-height: 700px){
    height: 40vh;
  }

  @media (max-height: 400px){
    height: calc(100vh - 64px); // full-screen (with toolbar)
  }
}

.chart-oscillator-container {
  padding: 0;
  margin: auto;
  border-style: none;
  border-width: 0;
  height: 15vh;

  max-width: 850px; // for doc site only

  @media (max-height: 800px){
    height: 20vh;
  }

  @media (max-height: 400px){
    height: 30vh;
  }
}
