// Angular Material Theme info only
// Use styles.scss for main site styles

@use '@angular/material' as mat;
@import '@angular/material/theming';
@include mat.core();

// ref: https://www.materialpalette.com
$primary: mat.define-palette(mat.$grey-palette, 800);
$accent: mat.define-palette(mat.$light-green-palette, 800);
$warn: mat.define-palette(mat.$orange-palette, 800);

$theme: mat.define-light-theme($primary, $accent, $warn);

@include mat.all-component-themes($theme);