@use "@angular/material" as mat;
@use "./styles/theme-dark"; // default theme
@use "./styles/theme-light";
@use "./styles/base-elements";
@include mat.elevation-classes();
@include mat.app-background(); // material core styles
@include mat.app-background(); // material core styles
