@use "@angular/material" as mat;
@import "styles-theme";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: $color-primary-light;
    background-color: $color-primary;

    overflow-x: hidden;
    overflow-y: scroll;
}

.center {
    text-align: center;
}

.noselect {
    cursor: default;
}

.no-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
