<h2 mat-dialog-title matTooltip="{{listing.name}}" class="noselect">{{listing.name}}</h2>

<!-- form content -->
<form #paramForm="ngForm" name="paramForm">
  <mat-dialog-content>

    <mat-tab-group animationDuration="0ms" mat-align-tabs="center">

      <mat-tab label="Params" *ngIf="selection.params.length>0">
        <div class="param-container">
          <div *ngFor="let p of selection.params; index as i">
            <mat-form-field class="param-input">
              <mat-label>{{p.displayName}}</mat-label>
              <input matInput #param="ngModel" name="param{{i}}" [(ngModel)]="p.value" type="number" required
                min="{{p.minimum}}" max="{{p.maximum}}">
              <mat-error *ngIf="param.invalid">{{paramRangeError(p)}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Styles" *ngIf="listing.category !== 'candlestick-pattern'">

        <div class="style-container" *ngFor="let r of selection.results; index as i">

          <h3>{{r.displayName}}</h3>

          <!-- line type -->
          <mat-form-field class="style-input">
            <mat-label>Line type</mat-label>
            <mat-select name="linetype{{i}}" [(ngModel)]="r.lineType">
              <mat-option *ngFor="let type of lineTypes" [value]="type.value">
                {{type.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- line width -->
          <mat-form-field class="style-input">
            <mat-label>Line width</mat-label>
            <mat-select name="linewidth{{i}}" [(ngModel)]="r.lineWidth"
              [disabled]="userSpecifiedWidth(r.lineType)===false">
              <mat-option *ngFor="let width of lineWidths" [value]="width.value">
                {{width.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- color -->
          <mat-form-field class="style-input">
            <mat-label>Color</mat-label>
            <input matInput #hexcolor="ngModel" name="color{{i}}" [mtxColorpicker]="customPicker" [(ngModel)]="r.color"
              pattern="^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3}|[A-Fa-f0-9]{8})$" [disabled]="r.lineType==='none'">
            <mat-error *ngIf="hexcolor.invalid">Invalid HEX color</mat-error>
            <mtx-colorpicker-toggle matSuffix [for]="customPicker" [ngStyle]="{'color':r.color}"
              [disabled]="r.lineType==='none'">
            </mtx-colorpicker-toggle>
            <mtx-colorpicker #customPicker [content]="customPickerContent" disabled="false"></mtx-colorpicker>
          </mat-form-field>

          <ng-template #customPickerContent>
            <div>
              <color-compact [colors]="presetColors" [color]="customPicker.selected"
                (onChange)="customPicker.select(getColor($event, customPicker))">
              </color-compact>
            </div>
          </ng-template>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div *ngIf="errorMessage">
      <p><small>Please correct the following error:</small></p>
      <p class="error">{{errorMessage}}</p>
    </div>

  </mat-dialog-content>

  <!-- action pane -->
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>CANCEL</button>
    <button mat-raised-button cdkFocusInitial (click)="onSubmit()" color="warn" [disabled]="paramForm.invalid">
      {{closeButtonLabel}}
    </button>
  </mat-dialog-actions>
</form>
