.mat-mdc-dialog-title {
  white-space: normal;
  max-width: 350px !important;
  line-height: 1.1;
}

mat-toolbar {
  margin-top: 1em;
  margin-bottom: 1em;
}

.param-container {
  margin-top: 1em;
}

.param-input,
.style-input {
  display: block;
}

.error {
  max-width: fit-content;
  display: inline-block;
  padding: 0 16px;
}
