.mat-mdc-dialog-title {
  text-align: center;
  line-height: 1.1;
}

.close-button {
  display: flex;
  position: relative;
  top: 8px;
  float: right;
}

mat-toolbar,
.toolbar-action {
  padding-right: 8px;
  font-size: 1.1em;
}

.list-action {
  text-align: right;
  cursor: default;

  --mdc-list-list-item-hover-state-layer-color: none;
  --mdc-list-list-item-hover-state-layer-opacity: none;
}

.toggle {
  float: right;
}
