.toggle {
  float: right;
}

.toggle-label {
  font-size: large;
}

.indicators-displayed-toolbar {
  padding-right: 8px;
}

.help-link {
  font-size: 0.6em;
  font-weight: 400;
  min-height: 24px;
}

.action-button-container {
  float: right;
  padding-right: 16px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
