.mat-mdc-dialog-title {
  padding-left: 16px;
  padding-right: 16px;
}

.toggle {
  float: right;
}

.toggle-label {
  font-size: large;
}

.indicators-displayed-toolbar {
  padding-right: 8px;
}

.help-link {
  font-size: 0.6em;
  min-height: 24px;
}

.action-button-container {
  float: right;
  padding-right: 16px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
