.mat-mdc-dialog-title {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

mat-dialog-content {
  max-height: calc(100vh - 132.8px) !important;
}

h2 {
  font-size: 1.3em;
  font-weight: 400;
}

h3 {
  font-size: 1em;
  font-weight: 400;
  margin-left: 16px;
}

.mat-tab-body-wrapper {
  padding: 16px;
}

.param-container {
  margin: 2rem 1rem 0;
}

.param-input {
  display: block;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;

  input {
    text-align: center;
  }
}

.style-container {
  margin: 1rem;

  @media screen and (width <=700px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
  }

  .style-input {
    width: 150px;

    @media screen and (width <=700px) {
      display: block;
      width: auto;
    }
  }

  mat-form-field:not(:nth-child(2)) {
    width: 135px;
    margin-left: 1rem;

    @media screen and (width <=700px) {
      margin-left: 0;
      width: unset;
    }
  }
}
