<mat-toolbar class="dialog-title">
  <span>Chart settings</span>
  <span class="filler"></span>
  <button mat-icon-button (click)="closeListDialog()" matTooltip="close">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content>

  <!-- GENERAL SETTINGS -->
  <mat-list class="general-settings">
    <mat-list-item>
      <span class="toggle-label no-wrap">Dark theme</span>
      <mat-slide-toggle class="toggle" labelPosition="before"
        [(ngModel)]="usr.settings.isDarkTheme" (change)="toggleTheme($event)" />
    </mat-list-item>
    <mat-list-item>
      <span class="toggle-label no-wrap">Show tooltips</span>
      <mat-slide-toggle class="toggle" labelPosition="before"
        [(ngModel)]="usr.settings.showTooltips" (change)="toggleTooltips($event)" />
    </mat-list-item>
  </mat-list>

  <!-- DISPLAYED INDICATORS -->
  @if (cht.selections.length>0) {
  <mat-selection-list #shown>
    <mat-toolbar class="dialog-section-header indicators-displayed-toolbar">
      Displayed indicators
      <span class="filler"></span>
      <mat-checkbox (change)="selectDisplayed($event, shown)" />
    </mat-toolbar>
    @for (selection of cht.selections; track selection) {
    <mat-list-option [value]="selection">
      <span matListItemTitle>{{selection.label}}</span>
    </mat-list-option>
    }
    <div class="action-button-container">
      <button mat-raised-button color="primary" [disabled]="shown.selectedOptions.selected.length===0"
        (click)="removeSelections($event, shown.selectedOptions.selected)" matTooltip="remove selected indicators">
        REMOVE SELECTED
      </button>
    </div>
  </mat-selection-list>
  }

  <!-- AVAILABLE INDICATORS -->
  <mat-nav-list>
    <mat-toolbar class="dialog-section-header indicators-displayed-toolbar">
      <div>
        Available indicators
        <br />
        <div class="help-link">» more info in our
          <a matTooltip="indicator documentation" target="_blank" rel="noopener"
            href="https://dotnet.stockindicators.dev/indicators/">
            online docs
          </a>
        </div>
      </div>
    </mat-toolbar>
    @for (listing of listings; track listing) {
    <a mat-list-item (click)="openIndicatorSettings(listing)" (keyup.enter)="openIndicatorSettings(listing)"
      (keyup.space)="openIndicatorSettings(listing)" tabindex="0">
      <span matListItemTitle>{{listing.name}}</span>
      <span matListItemLine>{{listing.category}}</span>
    </a>
    }
  </mat-nav-list>

</mat-dialog-content>
