@use "../styles";

// note: width is managed by `main`
// in app.component.scss

.button-container {
  position: absolute;
  top: -56px;
  right: 8px;
  height: 100%;

  button {
    opacity: 60%;
    position: sticky;
    top: 8px;
  }
}

.chart-overlay-container {
  aspect-ratio: 2.5;

  // tablet-lg
  @media (width <= 880px) {
    aspect-ratio: 2;
  }

  // mobile
  @media (width <= 600px) {
    aspect-ratio: 5/4;
  }

  // landscape, full screen
  @media (height <= 400px) and (orientation: landscape) {
    aspect-ratio: unset;
    height: calc(100vh);
  }
}

.chart-oscillator-container {
  aspect-ratio: 10;

  // tablet-lg
  @media (width <= 880px) {
    aspect-ratio: 8;
  }

  // tablet-lg, landscape
  @media (width <= 880px) and (orientation: landscape) {
    aspect-ratio: unset;
    height: 25vh;
  }

  // mobile, landscape
  @media (height <= 600px) and (orientation: landscape) {
    aspect-ratio: unset;
    height: 33.33vh;
  }

  // mobile
  @media (height <= 400px) {
    aspect-ratio: unset;
    height: 50vh;
  }
}
