@use "../styles";

// note: width is managed by `main`
// in app.component.scss

.button-container {

  position: absolute;
  top: -56px;
  right: 8px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  gap: 16px;

  .timeframe-selector {
    margin-top: 8px;
    min-width: 120px;
    
    ::ng-deep .mat-mdc-form-field-wrapper {
      padding-bottom: 0;
    }
  }

  button {
    opacity: 0.6;
    position: sticky;
    top: 8px;
  }
}

.chart-overlay-container {

  aspect-ratio: 2.5;

  // tablet-lg
  @media (max-width: 880px) {
    aspect-ratio: 2;
  }

  // mobile
  @media (max-width: 600px) {
    aspect-ratio: 5/4;
  }

  // landscape, full screen
  @media (max-height: 400px) and (orientation: landscape) {
    aspect-ratio: unset;
    height: calc(100vh);
  }
}

.chart-oscillator-container {

  aspect-ratio: 10;

  // tablet-lg
  @media (max-width: 880px) {
    aspect-ratio: 8;
  }

  // tablet-lg, landscape
  @media (max-width: 880px) and (orientation: landscape) {
    aspect-ratio: unset;
    height: 25vh;
  }

  // mobile, landscape
  @media (max-height: 600px) and (orientation: landscape) {
    aspect-ratio: unset;
    height: 33.33vh;
  }

  // mobile
  @media (max-height: 400px) {
    aspect-ratio: unset;
    height: 50vh;
  }
}
