// TOOLBAR

.toolbar {

    a {
        text-decoration: none;
        color: white;
    }

    font-family: Google Sans, Roboto, Arial, Helvetica, sans-serif
}


// CONTAINERS

.page-container {
    margin: 16px;
    padding-bottom: 16px;
}

.container {
    position: relative;
    margin: auto;
    max-width: 950px;
    text-align: center;
}

.chart-label {
    margin: 0;
    padding: 5px 0 0 10px;
    text-align: left;
    font-size: 10px;
}



// INDICATORS

.select-container {
    margin: auto;
    max-width: 950px;
}

mat-chip-list {
    margin: 16px;
    display: flex;
    justify-content: center;
}

mat-radio-group {
    margin: 16px;
}

.radio-button {
    margin: 5px;
}