@use '@angular/material' as mat;

main,
header,
footer {

  display: block;
  position: relative;

  max-width: 1024px;
  margin: 0 auto;
  padding: 0 8px;
}

main {

  // ensures scrollbar without using overflow-y: scroll
  // since it causes a double scrollbar when dialog opens
  min-height: 100vh;
}

// toolbar, colors in theme files
.main-toolbar {

  margin-left: auto;
  margin-right: auto;
  padding: 0 !important;

  background-color: transparent;
  line-height: unset !important;

  h1 {
    font-family: Rubik, Roboto, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    line-height: 1.0 !important;

    a {
      text-decoration: none;
      padding-top: 0.5rem;
    }
  }

  h2 {
    font-family: Rubik, Roboto, Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    font-weight: normal;
    line-height: 0.9 !important;
    letter-spacing: 0.55px;
    padding-left: 2px;

    a {
      text-decoration: none;
      padding-bottom: 0.9rem;
    }
  }
}
