@import "styles-theme";
@import "./styles";

mat-toolbar {
  padding: 0 8px;

  .item {
    margin-left: 8px;
  }
}

.edit-button {
  position: fixed;
  top: 12px;
  right: 10px;
}

.footer {
  padding: 0 8px 8px 8px;
  text-align: center;

  a {
    &:hover {
      color: "red";
    }

    &:visited {
      color: unset;
    }
  }
}
