<header>
  <mat-toolbar class="noselect main-toolbar">
    <div>
      <h1 class="no-wrap">
        <a href="https://github.com/facioquo/stock-charts" target="_blank" rel="noopener noreferrer">
          stock chart
        </a>
      </h1>
      <h2>
        <a href="https://dotnet.stockindicators.dev" target="_blank" rel="noopener">
          <strong>Stock Indicators for .NET</strong>
        </a>
      </h2>
    </div>
  </mat-toolbar>
</header>

<main id="main-content">
  <router-outlet></router-outlet>
</main>
