<mat-toolbar class="toolbar noselect" color="accent">
  <h1 matTooltip="Visit the documentation site for Stock Indicators for .NET">
    <a href="https://daveskender.github.io/Stock.Indicators/">
      Stock.Charts
    </a>
  </h1>
  <div class="filler"></div>
  <a class="badge" href="https://www.nuget.org/packages/Skender.Stock.Indicators"
    matTooltip="NuGet package for Stock Indicators for .NET">
    <img src="https://img.shields.io/nuget/v/skender.stock.indicators?color=black&logo=NuGet&label=NuGet" />
  </a>
  <div matTooltip="GitHub repository for this demo">
    <a href="https://github.com/DaveSkender/Stock.Charts">
      <fa-icon [icon]="faGithub" size="2x"></fa-icon>
    </a>
  </div>
</mat-toolbar>

<div id="main-content" class="body-container">
  <app-chart></app-chart>
</div>
