.content-container {
  display: block;
  position: relative;
  text-align: right;

  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 8px 100px 8px;

  @media screen and (max-width: 1024px) {
    padding: 0 8px;
  }

  .button-container {

    position: absolute;
    top: -50px;
    right: 8px;
    height: 100%;

    button {
      opacity: 0.7;
      position: sticky;
      top: 8px;
    }
  }
}
