@use "@angular/material" as mat;
@import "styles";

// TOOLBAR
mat-toolbar {
  font-family: Google Sans, Roboto, Arial, Helvetica, sans-serif;
  color: mat.get-color-from-palette($palette-primary, 700) !important;
  background-color: mat.get-color-from-palette($palette-primary, 900) !important;
  padding: 0 16px;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: mat.get-color-from-palette($palette-primary, 500) !important;
    }
  }

  .filler {
    flex: 1 1 auto;
    text-align: center;
  }
}

.badge-container {
  text-align: center;
  .badge {
    margin-top: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
}
