main {

  display: block;
  position: relative;
  text-align: right;

  width: 100%;
  max-width: 1024px;

  margin: 0 auto;
  padding: 0;

  .button-container {

    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    min-height: 100vh;

    button {
      opacity: 0.6;
      position: sticky;
      top: 8px;
    }
  }
}

header,
footer {

  width: 100%;
  max-width: 1024px;
  text-align: left;

  margin: 0 auto;
  padding: 0;

  background-color: transparent;

  h1 {
    margin-top: 0;
    font-size: 1.4em;
    font-weight: 500;
  }

  a {
    font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: inherit;

    &:active,
    &:visited {
      color: inherit;
    }
  }
}

footer {
  padding: 1rem 0;
  margin: 2rem 0;

  text-align: center;

  a {
    text-decoration: underline;
  }
}
