@import "./styles";

.edit-button {
  position: fixed;
  top: 12px;
  right: 10px;
}

.footer {
  padding: 0 9px 9px 8px;
  text-align: center;
  color: unset;

  a {
    &:active,
    &:hover,
    &:visited {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      color: unset;
    }
  }
}
