
<header class="content-container">
  <mat-toolbar class="noselect main-toolbar" color="default">
    <h1 class="no-wrap">
      <a href="https://github.com/DaveSkender/Stock.Charts/">
        stock chart
      </a>
    </h1>
  </mat-toolbar>
</header>

<main id="main-content" class="content-container" [hidden]="cs.loading">

  <div class="button-container">
    <button mat-fab color="accent"
      (click)="openSettingsDialog()"
      matTooltip="change indicators and settings"
      aria-label="change indicators and settings">
      <mat-icon color="primary">edit</mat-icon>
    </button>
  </div>

  <app-chart></app-chart>
</main>

<footer class="footer" [hidden]="cs.loading">
  Demo of the
  <strong>
    <a href="https://dotnet.stockindicators.dev/" target="_blank" rel="noopener">
      Stock Indicators for .NET</a>
  </strong> NuGet library
</footer>
