.content-container {

  display: block;
  position: relative;
  text-align: right;

  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 8px;

  .button-container {

    position: absolute;
    top: -50px;
    right: 8px;
    height: 100%;

    button {
      opacity: 0.6;
      position: sticky;
      top: 8px;
    }
  }
}
