@use "@angular/material" as mat;
@import "styles-theme";

// BASE STYLES
html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Google Sans", Roboto, "Helvetica Neue", sans-serif;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.noselect {
  cursor: default;
}

.no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.body-container {
  padding: 0 8px 100px 8px;
}

.font-warn {
  color: $color-warn;
}

// ANGULAR MATERIAL OVERRIDES

// TOOLBAR
mat-toolbar {

  max-width: 1024px;

  a {
    font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $color-primary-500 !important;
    }
  }
}

.mat-toolbar {
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  @media screen and (max-width: 1024px) {
    padding: 0 8px;
  }
}

.filler {
  flex: 1 1 auto;
  text-align: center;
}

mat-chip-list {
  margin: 16px;
  display: flex;
  justify-content: center;
}

.mat-dialog-actions {
  justify-content: center;
}

.mat-dialog-container {
  h1 {
    font-size: 1.3em;
    font-weight: normal;
  }

  h2 {
    font-size: 1em;
    font-weight: normal;
  }
}

mat-radio-group {
  margin: 16px;
}

.mat-tab-body-wrapper {
  padding: 16px;
}

// COMMON CONTROLS
.radio-button {
  margin: 5px;
}

.button-row {
  margin-top: 25px;
  margin-bottom: 25px;
}

.button-row>button {
  margin-left: 4px;
  margin-right: 4px;
}
