// LAYOUT
html,
body {
  min-height: 100vh;
  font-family: "Google Sans", Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}


// TYPOGRAPHY
h1, h2 {
  font-weight: 400;
}

// ALIGNMENT
.center {
  text-align: center;
}

.right {
  text-align: right;
}

.noselect {
  cursor: default;
}

.no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filler {
  flex: 1 1 auto;
  text-align: center;
}


// ANGULAR MATERIALS COMPONENTS
mat-dialog-actions {
  justify-content: center !important;
}


// COMMON CONTROLS
