@use '@angular/material' as mat;
@use 'sass:map';

@use '../app/picker/scrollbar-theme';

// application core styles that are based on the current theme
@mixin theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);


  // ANGULAR MATERIAL OVERRIDES

  header,
  footer {

    color: mat.get-color-from-palette($accent, 600);

    h1 {
      color: mat.get-color-from-palette($accent, 600);
    }

    a {
      &:hover {
        color: mat.get-color-from-palette($accent, 500);
      }
    }
  }

  // OTHERS DEFINED SEPARATELY
  @include scrollbar-theme.theme($theme);
}
