@use '@angular/material' as mat;
@use 'themed-parts';

// DEFAULT DARK THEME (see theme-light.scss swap file)
// ref: https://material.angular.io/guide/theming

$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette
    ),
    typography: (
      brand-family: "Rubik, Roboto, Arial, Helvetica, sans-serif",
    ),
    density: (
      scale: 0
    )));

// apply theme (base)
:root {

  @include mat.all-component-themes($theme);
  @include themed-parts.theme($theme);

  // BASE OVERRIDES (only)

  // toolbar
  .main-toolbar {

    h1 {
      color: rgba(230, 199, 76, 0.75);

      a:hover {
        color: rgba(230, 199, 76, 0.85);
      }
    }
  }

  h2 {
    color: mat.get-theme-color($theme, neutral, 60);

    a:hover {
      color: mat.get-theme-color($theme, neutral, 40);
    }
  }

  // dialog content
  h2.mat-mdc-dialog-title {
    color: mat.get-theme-color($theme, neutral, 50);
    font-size: larger;
    font-weight: 600;
  }

  .indicators-displayed-toolbar,
  .indicators-available-toolbar {
    color: mat.get-theme-color($theme, neutral, 50);
    font-size: 1.3rem;
    font-weight: 600;

    a {
      text-decoration: underline;
      color: mat.get-theme-color($theme, neutral, 30);

      &:visited {
        color: unset;
      }

      &:hover {
        color: mat.get-theme-color($theme, neutral, 70);
      }
    }
  }
}
