name: Deploy website

#on: [ workflow_dispatch ]
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: website-deployer
  cancel-in-progress: true

jobs:
  build-backend:
    runs-on: windows-latest

    env:
      url: https://charts.stockindicators.dev

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "8.x"
          dotnet-quality: "ga"

      - name: Update configs
        shell: pwsh
        working-directory: Server/WebApi
        run: |
          Copy-Item "appsettings.Token.json" -Destination "appsettings.json" -Force
          Remove-Item "appsettings.Token.json" -Force

          (Get-Content appsettings.json).Replace("__Website__", "${{ env.url }}") | Set-Content appsettings.json
          Write-Host "... Done!"

      - name: Build .NET solution
        run: >
          dotnet build Server/ChartBackend.sln
          --configuration Release
          --property:ContinuousIntegrationBuild=true
          -warnAsError

      - name: Package Web API
        working-directory: Server
        run: >
          dotnet publish WebApi/WebApi.csproj
          --configuration Release
          --property:PublishDir="../artifacts/api"

      - name: Package Functions
        working-directory: Server
        run: >
          dotnet publish Functions/Functions.csproj
          --configuration Release
          --property:PublishDir="../artifacts/fns"
            
      - name: Save Web API
        uses: actions/upload-artifact@v3
        with:
          name: api
          path: "./Server/artifacts/api"

      - name: Save Functions
        uses: actions/upload-artifact@v3
        with:
          name: fns
          path: "./Server/artifacts/fns"

  build-website:
    runs-on: ubuntu-latest

    steps:
    
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: Client/package-lock.json

    - name: Install packages
      working-directory: Client
      run: npm install

    - name: Update configs
      shell: pwsh
      working-directory: Client/src
      run: |
        (Get-Content index.html).Replace("__GaTag__", "G-17DX6ZW6HP") | Set-Content index.html
        Write-Host "... Done!"
      
    - name: Build site
      working-directory: Client
      run: npm run build.prod

    - name: Store artifacts
      uses: actions/upload-artifact@v3
      with:
        name: web
        path: Client/dist/app
    
  deploy-api:
    needs: [ "build-backend" ]
    runs-on: ubuntu-latest

    environment:
      name: website

    steps:

      - name: Download package
        uses: actions/download-artifact@v3
        with:
          name: api
          path: artifacts

      - name: Show artifacts
        working-directory: artifacts
        run: ls

      - name: Deploy API
        uses: azure/webapps-deploy@v2
        with: 
          app-name: stock-charts-api
          package: artifacts
          publish-profile: ${{ secrets.PUBLISH_PROFILE_API }}

  deploy-fns:
    needs: [ "build-backend" ]
    runs-on: ubuntu-latest

    environment:
      name: website

    steps:

    - name: Download package
      uses: actions/download-artifact@v3
      with:
        name: fns
        path: artifacts

    - name: Show artifacts
      working-directory: artifacts
      run: ls
        
    - name: Deploy Functions
      uses: Azure/functions-action@v1
      with:
        app-name: stock-charts-functions
        package: artifacts
        publish-profile: ${{ secrets.PUBLISH_PROFILE_FNS }}
        
  deploy-website:
    needs: [ "build-website", "deploy-api" ]
    runs-on: ubuntu-latest

    environment:
      name: website
      url: "https://charts.stockindicators.dev"

    steps:
        
    - name: Download package
      uses: actions/download-artifact@v3
      with:
        name: web
        path: artifacts
  
    - name: Show artifacts
      working-directory: artifacts
      run: ls

    - name: Deploy website
      uses: azure/webapps-deploy@v2
      with: 
        app-name: stock-charts
        package: artifacts
        publish-profile: ${{ secrets.PUBLISH_PROFILE_WEB }}
