<h1 mat-dialog-title>{{listing.name}}</h1>

<!-- form content -->
<form #paramForm="ngForm" name="paramForm">
  <div mat-dialog-content>

    <mat-tab-group animationDuration="0ms" mat-align-tabs="center">

      <mat-tab label="Parameters" *ngIf="selection.params.length>0">
        <div *ngFor="let p of selection.params; index as i" style="margin-top:0.5em;">
          <mat-form-field [style.width.px]=150>
            <mat-label>{{p.displayName}}</mat-label>
            <input matInput #param="ngModel" name="param{{i}}" [(ngModel)]="p.value" type="number" required
              min="{{p.minimum}}" max="{{p.maximum}}">
            <mat-error *ngIf="param.invalid">{{paramRangeError(p)}}</mat-error>
          </mat-form-field>
        </div>
      </mat-tab>

      <mat-tab label="Styles">
        <div *ngFor="let r of selection.results; index as i">

          <h2>{{r.displayName}}</h2>

          <!-- color -->
          <mat-form-field [style.width.px]=110>
            <mat-label>Color</mat-label>
            <input matInput name="color{{i}}" [mtxColorpicker]="customPicker" [(ngModel)]="r.color" disabled>
            <mtx-colorpicker-toggle matSuffix [for]="customPicker" [ngStyle]="{'color':r.color}">
            </mtx-colorpicker-toggle>
            <mtx-colorpicker #customPicker [content]="customPickerContent" disabled="false"></mtx-colorpicker>
          </mat-form-field>

          <ng-template #customPickerContent>
            <div>
              <color-compact [colors]="presetColors" [color]="customPicker.selected"
                (onChangeComplete)="customPicker.select(getHex8($event))">
              </color-compact>
            </div>
          </ng-template>

          <!-- style -->
          <mat-form-field [style.width.px]=100 [style.margin-left.px]=8>
            <mat-label>Line style</mat-label>
            <mat-select name="linetype{{i}}" [(ngModel)]="r.lineType">
              <mat-option *ngFor="let style of lineStyles" [value]="style.value">
                {{style.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- width -->
          <mat-form-field [style.width.px]=100 [style.margin-left.px]=8>
            <mat-label>Line width</mat-label>
            <mat-select name="linewidth{{i}}" [(ngModel)]="r.lineWidth">
              <mat-option *ngFor="let w of lineWidths" [value]="w.value">
                {{w.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </mat-tab>
    </mat-tab-group>

    <div class="error" *ngIf="errorMessage">
      <p><small>Please correct the following error:</small></p>
      <p class="font-warn">{{errorMessage}}</p>
    </div>

  </div>

  <!-- action pane -->
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button cdkFocusInitial (click)="onSubmit()" color="accent" [disabled]="paramForm.invalid">
      {{closeButtonLabel}}
    </button>
  </div>
</form>
