<h1 mat-dialog-title>{{listing.name}}</h1>

<!-- form content -->
<div mat-dialog-content>

  <mat-tab-group animationDuration="0ms" mat-align-tabs="center">

    <mat-tab label="Parameters">
      <div *ngFor="let p of selection.params; index">
        <mat-form-field [style.width.px]=110>
          <mat-label center>{{p.displayName}}</mat-label>
          <input matInput [(ngModel)]="p.value">
          <!-- <mat-error *ngIf="param.invalid">{{getParamErrorMessage()}}</mat-error> -->
        </mat-form-field>
      </div>
    </mat-tab>

    <mat-tab label="Styles">
      <div *ngFor="let r of selection.results; index">

        <h2>{{r.displayName}}</h2>

        <!-- color -->
        <mat-form-field [style.width.px]=110>
          <mat-label>Color</mat-label>
          <input matInput [mtxColorpicker]="customPicker" [(ngModel)]="r.color">
          <!-- <div style="width:5px; height:5px; color:'{{r.color}}';"></div> -->
          <mtx-colorpicker-toggle matSuffix [for]="customPicker"></mtx-colorpicker-toggle>
          <mtx-colorpicker #customPicker [content]="customPickerContent"></mtx-colorpicker>
        </mat-form-field>

        <ng-template #customPickerContent>
          <div [style.width.px]="240">
            <color-sketch [presetColors]="presetColors" [color]="customPicker.selected"
              (onChangeComplete)="customPicker.select(getHex8($event))">
            </color-sketch>
          </div>
        </ng-template>

        <!-- style -->
        <mat-form-field [style.width.px]=100 [style.margin-left.px]=8>
          <mat-label>Line style</mat-label>
          <mat-select [(ngModel)]="r.lineType">
            <mat-option *ngFor="let s of lineStyles" [value]="s.value">
              {{s.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- width -->
        <mat-form-field [style.width.px]=100 [style.margin-left.px]=8>
          <mat-label>Line width</mat-label>
          <mat-select [(ngModel)]="r.lineWidth">
            <mat-option *ngFor="let w of lineWidths" [value]="w.value">
              {{w.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </mat-tab>
  </mat-tab-group>

</div>

<!-- action pane -->
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button cdkFocusInitial (click)="onSubmit()" color="accent" [mat-dialog-close]="selection">
    Add
  </button>
</div>
