<mat-toolbar class="noselect">
  general settings

  <div class="filler"></div>
  <button mat-mini-fab class="close-button" color="default" (click)="closeListDialog()" matTooltip="close">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<div class="toggle">
  <mat-slide-toggle [(ngModel)]="ts.isDarkTheme" [color]="toggleColor" (change)="toggleTheme($event)">
    Dark theme
  </mat-slide-toggle>
</div>

<mat-nav-list>

  <mat-toolbar class="noselect" *ngIf="selections.length>0">
    indicators selected
  </mat-toolbar>
  <a mat-list-item *ngFor="let selection of selections" matTooltip="click to remove this indicator"
    (click)="removeSelection($event, selection.ucid)">
    <span mat-line>{{selection.label}}</span>
    <button mat-mini-fab color="accent">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </a>

  <mat-toolbar class="noselect">
    add new indicator
    <div class="filler"></div>
    <div matTooltip="indicator documentation">
      <a mat-mini-fab href="https://daveskender.github.io/Stock.Indicators/indicators/" target="_blank" rel="noopener">
        ?
      </a>
    </div>
  </mat-toolbar>
  <a mat-list-item *ngFor="let listing of listings" (click)="openEditor($event, listing)">
    <span mat-line>{{listing.name}}</span>
    <span mat-line>{{listing.category}}</span>
  </a>
</mat-nav-list>
