
.toolbar-action {
  padding-right: 8px;
}

.list-action {
  text-align: right;
  cursor: default;

  --mdc-list-list-item-hover-state-layer-color: none;
  --mdc-list-list-item-hover-state-layer-opacity: none;
}

.toggle {
  margin: 16px 0 8px 16px;
}
